.inner-con input#tittle,input#ndate,input#ndescription,input#etittle,input#edate,input#evanue,input#edate,input#etype{
    width: 800px;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: 0;
    padding: 7px;
    background-color: #fff;
    box-shadow: inset 1px 1px 5px rgba(0,0,0,0.3);
}